main {
  background-image: url("/storage/images/bg/cosmos0.png");
}

section.planetSection {
  margin: 15vh 0;
  min-height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

section.planetSection > p {
  padding-left: 5rem;
  font-size: larger;
  width:70%;
  color: white;
}

div.planet {
  height: 40vh;
  aspect-ratio: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div.planet[data-planet-type="mercury"] {
  transform: scale(0.3);
  background-image: url("/storage/images/planets/mercury.png");
}
div.planet[data-planet-type="venus"] {
  transform: scale(0.5);
  background-image: url("/storage/images/planets/venus.png");
}
div.planet[data-planet-type="terra"] {
  transform: scale(0.5);
  background-image: url("/storage/images/planets/terra.png");
}
div.planet[data-planet-type="mars"] {
  transform: scale(0.5);
  background-image: url("/storage/images/planets/mars.png");
}
div.planet[data-planet-type="jupiter"] {
  transform: scale(0.8);
  background-image: url("/storage/images/planets/jupiter.png");
}
div.planet[data-planet-type="saturn"] {
  background-image: url("/storage/images/planets/saturn.png");
}
div.planet[data-planet-type="uranus"] {
  transform: scale(0.4);
  background-image: url("/storage/images/planets/uranus.png");
}
div.planet[data-planet-type="neptune"] {
  transform: scale(0.4);
  background-image: url("/storage/images/planets/neptune.png");
}
div.planet[data-planet-type="pluto"] {
  transform: scale(0.3);
  background-image: url("/storage/images/planets/pluto.png");
}
